* {
    margin: 0;
    padding: 0;
    list-style: none;
	list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("loptopbg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% 100%;
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #28F3FF, #E528FF);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
	box-shadow: 0 0px 40px #28F3FF;
}

label.logo {
	color: #C4FCFF;
	font-size: 35px;
	line-height: 80px;
	padding: 0;
	font-weight: bold;
	font-family: 'Alfa Slab One', cursive;
}

span {
	color: #007980;
}

label a {
	color: #CDFFFC;
	padding: 7px 13px;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: default;
}

.logo img {
	position: relative;
	top: 10px;
	margin-left: -50px;
	width: 50px;
	-webkit-user-drag: none;
}

.hamburger {
    display: none;
}

.nav-bar ul {
	font-family: 'Open Sans', sans-serif;
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    transition: 0.2s;
    margin: 0 5px;  
}

.nav-bar ul li a:hover {
    color: #11101b;
    background: rgba(207, 110, 231 , 0.3);
	text-shadow: 0 0 15px #28F3FF;
}

.nav-bar ul li a.active {
    color: #11101b;
    background: rgba(207, 110, 231 , 0.3);
	box-shadow: 0 0 15px 1px #28F3FF, inset 0 0 15px 1px #28F3FF;
	text-shadow: 0 0 15px #28F3FF;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
	body {
		background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("loptopbg2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}
	header {
		position: fixed;
		z-index: 1111;
	}
	.logo img {
		position: relative;
		top: 5px;
		margin-left: -10px;
		margin-right: -10px;
		width: 40px;
	}
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
		border-radius: 100px;
    }
    .nav-bar {
        z-index: 100;
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(88, 199, 255, 0.2);
        transition: 0.5s;
        overflow: hidden;
	backdrop-filter: blur(3px);
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/*CONTACT PAGE*/
.hero {
    width: 100%;
    height: 100hv;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
}

.social-link {
    display: flex;
	animation: transitionIn 1s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.social-link a {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0.1));
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px 5px rgba(40, 243, 255, 0.5),
				0 0 20px 10px rgba(229, 40, 255, 0.5);
	text-shadow: 0 0 10px rgba(186, 252, 255, 0.5);
    margin: 0 30px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social-link a .fa-brands {
    font-size: 60px;
    line-height: 100px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-link a::after {
    content: '';
    width: 100%;
    height: 100%;
    bottom: -100px;
    left: 0;
    background: linear-gradient(to top, #28f3ff, #e528ff);
    position: absolute;
    transition: 0.5s;
}

.social-link a:hover::after {
    bottom: 0;
}

.social-link a:hover .fa-facebook {
    color: #4267B2;
}

.social-link a:hover .fa-youtube {
    color: #ff0000;
}

.social-link a:hover .fa-discord {
    color: #5865F2;
}

.social-link a:hover .fa-instagram {
	color: rgb(48, 48, 48);
    background: linear-gradient(to bottom left, #405DE6, #405DE6, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.social-link a:hover {
	transition: 0.5s;
    transform: translateY(-15px);
	animation: animate 2s linear infinite;
}

@keyframes animate {
	0% {
		box-shadow: 0 0 20px 5px rgba(40, 243, 255, 0.8),
		0 0 30px 10px rgba(229, 40, 255, 0.5);
	}
	50% {
		box-shadow: 0 0 20px 10px rgba(229, 40, 255, 0.8),
		0 0 30px 15px rgba(40, 243, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 20px 5px rgba(40, 243, 255, 0.8),
		0 0 30px 10px rgba(229, 40, 255, 0.5);
	}
}

@media (max-width: 858px) {
	.hero {
		margin-top: 0;
	}
	.social-link {
		display: block;
		animation: transitionIn 1s;
	}
	
	@keyframes transitionIn {
		from {
			opacity: 0;
			transform: translateX(-50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	.social-link a {
		display: block;
		background: none;
		box-shadow: none;
		width: 80px;
		height: 80px;
		text-align: center;
		text-decoration: none;
		color: black;
		margin: 75px 0px;
		border-radius: 50px;
		position: relative;
		overflow: hidden;
		transition: transform 0.5s;
		animation: animate 5s linear infinite;
	}
	@keyframes animate {
		0% {
			color: #e528ff;
			text-shadow: 0 0 10px rgba(229, 40, 255, 0.5);
		}
		50% {
			color: #28f3ff;
			text-shadow: 0 0 10px rgba(40, 243, 255, 0.5);
		}
		100% {
			color: #e528ff;
			text-shadow: 0 0 10px rgba(229, 40, 255, 0.5);
		}
	}
	.social-link a .fa-brands {
		font-size: 55px;
		line-height: 80px;
		position: relative;
		z-index: 10;
		transition: color 0.5s;
	}
	.social-link a:active {
		box-shadow: 0 0 20px 13px rgba(229, 40, 255, 0.5),
					0 0 30px 15px rgba(40, 243, 255, 0.5);
		transition: 0.5s;
    	transform: translateY(-15px);
		animation: none;
	}
}
